<div class="row">
  <div class="page-header">
    <div class="home-container jumbotron text-center">
      <img src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg"/>
      <h1>Ember Sarter Seed</h1>
    </div>
  </div>
  <div class="alert alert-info">
    The dummy app provides one route - the {{#link-to 'protected'}}Protected Page{{/link-to}} that loads some Ember Data models where the API validates that the request is authorized.
  </div>
</div>
